@{
    ViewData["Title"] = "Details";
}
@model Festispec.Models.PlannedInspection


    

<h2>@Model.EventTitle</h2>
<div class="Questions">
    <form asp-action="Details">
          @foreach (var iterator in Model.Questionnaire.Questions)
          {
          Festispec.Models.Questions.Question question;
          if (iterator is Festispec.Models.Questions.ReferenceQuestion)
          {
          question=(iterator as Festispec.Models.Questions.ReferenceQuestion).Question;
          question.Id=iterator.Id;
          }
          else
          {
          question=iterator;
          }


        <div class="Question">
            <h3 class="Question-title">@question.Contents</h3>
            @if (question is Festispec.Models.Questions.MultipleChoiceQuestion)
            {

                (question as Festispec.Models.Questions.MultipleChoiceQuestion).StringToObjects();


                @foreach (var option in (question as Festispec.Models.Questions.MultipleChoiceQuestion).OptionCollection)
                {
                    <div class="form-group">@option <input type="radio" name="@question.Id" /> </div>
                }


            }
            @if (question is Festispec.Models.Questions.StringQuestion)
            {
                var temp = (Model.Answers.FirstOrDefault(e => e.Question.Id == question.Id) as Festispec.Models.Answers.StringAnswer);
                if (temp == null)
                    Model.Answers.Add(new Festispec.Models.Answers.StringAnswer() { PlannedInspection = Model, Question = question });
                <textarea>@((Model.Answers.FirstOrDefault(e => e.Question.Id == question.Id) as Festispec.Models.Answers.StringAnswer).AnswerContents)</textarea>
            }
            @if (question is Festispec.Models.Questions.NumericQuestion)
            {

            }
            @if (question is Festispec.Models.Questions.RatingQuestion)
            {
                var temp = (Model.Answers.FirstOrDefault(e => e.Question.Id == question.Id) as Festispec.Models.Answers.NumericAnswer);
                if (temp == null)
                    Model.Answers.Add(new Festispec.Models.Answers.NumericAnswer() { PlannedInspection = Model, Question = question });
                <div class="row">
                    <span class="col-sm">@((question as Festispec.Models.Questions.RatingQuestion).LowRatingDescription)</span>
                    <div class="rating">
                        @for (int i = 1; i < 6; i++)
                        {
                            <label>
                                <input type="radio" name="stars" value="@i">
                                @for (int y = 0; y < i; y++)
                                {
                                    <span class="icon">★</span>
                                }
                            </label>
                        }
                    </div>
                    <span class="col-sm">@((question as Festispec.Models.Questions.RatingQuestion).HighRatingDescription)</span>
                </div>
            }
            @if (question is Festispec.Models.Questions.UploadPictureQuestion)
            {
                var temp = (Model.Answers.FirstOrDefault(e => e.Question.Id == question.Id) as Festispec.Models.Answers.FileAnswer);
                if (temp == null)
                    Model.Answers.Add(new Festispec.Models.Answers.FileAnswer() { PlannedInspection = Model, Question = question });


                <input type="file" accept="image/*" class="btn" value="@((Model.Answers.FirstOrDefault(e => e.Question.Id == question.Id) as Festispec.Models.Answers.FileAnswer).UploadedFilePath)" />
            }
        </div>
    }

        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
</form>
    <!--@Html.ActionLink("Edit", "Details", new { plannedInspectionID = Model.Id, Answers = Model.Answers.ToList() })-->
</div>
